/* Reset some default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "english";
    background-color: #dde6d5;
    text-align: center;
}

nav {
    padding: 10px;
    border-bottom: 2px solid #a3b899;
    background-color: #667b68;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #a3b899;
    font-weight: bold;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #a3b899;
    color: #fff;
    border-radius: 5px;
}

/* Font faces */
@font-face {
    font-family: 'korean';
    src: url('Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'englishbold';
    src: url('Quattrocento/Quattrocento-Bold.ttf')
}

@font-face {
    font-family: 'english';
    src: url('Quattrocento/Quattrocento-Regular.ttf');
}

/* Header styles */
h1 {
    color: #05472A;
    font-family: "englishbold";
    font-size: 30px;
}

h2 {
    color: #667b68;
    font-family: "englishbold";
    font-size: 18px;
}

/* Main content styles */
.introduction {
    background-image: url("images/yosh.jpeg");
    background-size: cover;
    padding: 200px 0 0 0;
}

.introduction h2 {
    color: #667b68;
}

.introduction p {
    font-size: 16px;
}

hr {
    border: 1px dashed #a3b899;
    margin: 20px 0;
}

.details {
    padding: 30px;
    background-color: #dde6d5;
}

/* Card container styles */
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

/* Card styles */
.languages, .leadership, .skills {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.languages img, .leadership img, .skills img {
    max-width: 100%;
    height: auto;
    width: 250px;
    border-radius: 10%;
}

.skills img {
    height: 250px;
    width: auto;
}

.skills dd {
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #667b68;
    border-bottom: 2px solid #a3b899;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #a3b899;
    font-weight: bold;
    padding: 5px 10px;
}
